<form [formGroup]="createPostForm" class="example-form design" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter name">
  </mat-form-field>
  
  <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Image URL</mat-label>
      <input matInput formControlName="image" placeholder="Enter image URL">
  </mat-form-field>
  
  <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Content</mat-label>
      <textarea matInput formControlName="content" placeholder="Enter content"></textarea>
  </mat-form-field>
  
  <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Posted By</mat-label>
      <input matInput formControlName="postedBy" placeholder="Enter your name">
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-chip-list example-full-width">
      <mat-label>Tags</mat-label>
      <mat-chip-grid #chipGrid>
          @for (tag of tags; track tag) {
              <mat-chip-row (removed)="remove(tag)">
                  {{ tag }}
                  <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                  </button>
              </mat-chip-row>
          }
          <input placeholder="New tag..."
                 [matChipInputFor]="chipGrid"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 (matChipInputTokenEnd)="add($event)"/>
      </mat-chip-grid>
  </mat-form-field>
  
  <button mat-raised-button color="primary" type="submit" [disabled]="!createPostForm.valid" class="example-full-width btn" (submit)="onSubmit()">Create Post</button>
  
</form>
<h3 hidden>{{ '{' }}
    "id": 6,
    "name": "dEEPSEEK An Chineese Innovation",
    "content": "Hangzhou DeepSeek Artificial Intelligence Basic Technology Research Co., Ltd., doing business as DeepSeek, is a Chinese artificial intelligence company that develops large language models. Based in Hangzhou, Zhejiang, it is owned and funded by the Chinese hedge fund High-Flyer.",
    "postedBy": "Loga Krishna",
    "date": "2025-04-23T13:17:38.830+00:00",
    "image": "https://bsmedia.business-standard.com/_media/bs/img/article/2025-01/27/full/1737959259-7169.png?im=FeatureCrop,size=(826,465)",
    "likecount": 0,
    "viewcount": 0,
    "tags": [
        "Ai",
        "2025"
    ]
    
{{ '}' }}<br><br>"Use to create the post reqquest for creating post use "Post Man " ==> deployment issue"<br>
https://blog-springbootbackend-50026124227.development.catalystappsail.in/api/posts</h3>